/*CSS default reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #F7F7F2;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Avoid text overflows*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
COLOR PALLETES:
121113
222725
899878
F7F7F2
E83F3A
188351
E7E4E4
1E1E1E
*/

:root {
  --blck-clr: #121113;
  --wht-clr: #F7F7F2;
}

#header {
  background-color: var(--blck-clr);
  min-width: 100vw;
  height: 12vh;
  display: flex;
  align-items: center;
  padding-left: 1.8em;
  box-shadow: 0px 6px 6px -3px rgba(18,17,19,0.54);
}

#header h3 {
  color: var(--wht-clr);
  font-family: 'Irish Grover', cursive;
  margin-right: 13rem;
  font-size: 2rem;
}

#header nav li {
  color: var(--wht-clr);
  font-size: 1.2rem;
}

#header nav ul{ 
  display: flex;
  gap: 3rem;
}



