/*CSS default reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #F7F7F2;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Avoid text overflows*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
COLOR PALLETES:
121113
222725
899878
F7F7F2
E83F3A
188351
E7E4E4
1E1E1E
*/

:root {
  --blck-clr: #121113;
  --wht-clr: #F7F7F2;
  --red-clr: #E83F3A;
  --grn-clr: #188351;
}

/**Header Declarations*/
#header {
  background-color: var(--blck-clr);
  min-width: 100vw;
  height: 12vh;
  display: flex;
  align-items: center;
  padding-left: 3em;
  box-shadow: 0px 6px 6px -3px rgba(18,17,19,0.54);
}

.divStyle {
  background-color: red;
  color: pink;
  height: 100px;
  width: 200px;
}

#header h3 {
  color: var(--wht-clr);
  font-family: 'Irish Grover', cursive;
  margin-right: 13rem;
  font-size: 2rem;
}

#header nav li {
  color: var(--wht-clr);
  font-size: 1.2rem;
  cursor: pointer;
}

#header nav ul{ 
  display: flex;
  gap: 3rem;
}

/**Sort Container declarations*/
#sorter-container {
  padding: 1.7rem 0 0 3rem;
}

/**Add book btn declarations*/
#add-book-btn button {
  border: none;
  background-color: var(--wht-clr);
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.5em;
}

#add-book-btn #addBookBtn:hover {
  background-color: #e4e6e0;
  border-radius: 0.4em;
}

#add-book-btn {
  padding: 1.2rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1.3em 0;
}

/**Book Container*/
#book-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 330px);
  grid-template-rows: repeat(auto, 100px);
  padding: 1em;
}

.cardContainerStyle {
  background-color: #E7E4E4;
  width: 75%;
  height: 50vh;
  margin: 0 0 3em 2rem;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.bookCover {
  background: no-repeat center / 100% 100% url(assets/images/Default_image.jpg);
  min-height: 15em;
  min-width: 100%;
  margin: 0 0 0.5em 0;
  border-radius: 0.8em;
}

.removeBtn {
  background: no-repeat center / 100% 100% url(assets/images/removeBtn.svg);
  min-height: 1.5em;
  min-width: 1.5em;
  border: none;
  position: relative;
  left: 8em;
  bottom: 0.2em;
}

.bookAuthorStyle {
  color: rgba(18, 17, 19, 0.7);
}

/**Add Book Modal Window*/
.add-book-modal {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  z-index: 1;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.show-add-book-form {
  visibility: visible;
  opacity: 1;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.add-book-modal .add-book-content {
  color: var(--wht-clr);
  background-color: var(--blck-clr);
  width: 23%;
  height: 75%;
  border-radius: 1.7rem;
  padding: 1em;
}

.add-book-content .upper-content {
  display: flex;
  justify-content: center;
  margin: 0 0 1.2em 0;
  font-size: 1.3em;
}

.add-book-content .lower-content form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

/**Styling input*/

[data-input] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 90%;
  height: 2.5rem;
  outline: none;
  border-radius: 0.5rem;
  color: var(--wht-clr);
  background-color: #1E1E1E;
}

input[type="text"],
input[type="number"]::placeholder {
  font-size: 1.2em;
}

.add-book-content .lower-content .add-book-submit-btn {
  padding: 0.6em;
  width: 60%;
  border-radius: 0.7em;
  border: none;
  background-color: var(--grn-clr);
  color: var(--wht-clr);
  font-size: 1em;
}

button[class="close-btn"] {
  position: relative;
  left: 4.2em;
  border: none;
  background-color: var(--blck-clr);
  color: var(--wht-clr);
}

.add-book-content .upper-content p {
  margin-left: 1em;
}

input[type="checkbox"],
button {
  cursor: pointer;
}